---
import NavBar from '../components/nav/NavBar.astro'
import globalStyles from '../styles/global.css?url'
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href={globalStyles} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-black text-white min-h-[300vh] flex flex-col">
		<NavBar />
		<slot />
	</body>
</html>
